# Welcome to the final assignment part1
## Segmenting and Clustering Neighborhoods in Toronto

#### <font color=blue>Importing and Instalation stage

In [1]:
!pip install beautifulsoup4
!pip install lxml
!pip3 install lxml
from bs4 import BeautifulSoup
import requests
import pandas as pd

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4) (2.1)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.6.2)
Requirement already satisfied: lxml in /home/jupyterlab/conda/lib/python3.9/site-packages (4.6.2)

#### <font color=blue>Scrapping stage

In [2]:
url_wikipedia = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikipedia_web = requests.get(url_wikipedia)

df_raw = pd.read_html(wikipedia_web.content, header=0)[0]
df_new = df_raw[df_raw.Borough != 'Not assigned']

df_new.head(10)

   Postal Code           Borough                                Neighbourhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills
12         M4B         East York              Parkview Hill, Woodbine Gardens
13         M5B  Downtown Toronto                     Garden District, Ryerson

In [3]:
df_new.loc[df_new.Neighbourhood == 'Not assigned'] # checking constraint --> If a cell has a borough but a Not assigned  neighborhood, then the neighborhood will be the same as the borough.

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

#### <font color=blue>Dataframe processing stage

##### 1.-Grouping PC - Borough - Neigh

In [4]:
df_toronCanada = df_new.groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(lambda x: ', '.join(x))
df_toronCanada = df_toronCanada.reset_index()

##### 2.-Making easier later coding

In [5]:
df_toronCanada.rename(columns = {'Postal Code':'PostalCode'}, inplace = True)
df_toronCanada.rename(columns = {'Neighbourhood':'Neighborhood'}, inplace = True)

##### 3.-Showing results

In [6]:
df_toronCanada.head(10)

  PostalCode      Borough                                     Neighborhood
0        M1B  Scarborough                                   Malvern, Rouge
1        M1C  Scarborough           Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park
7        M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
8        M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

#### <font color=blue>Dataframe scope stage

In [7]:
df_toronCanada.shape

(103, 3)